Birdeye_Trending_Bot_Maretox.json
{
  "name": "Birdeye_Trending_Bot_Maretox",
  "nodes": [
    {
      "parameters": {
        "url": "https://public-api.birdeye.so/defi/token_trending",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "YOUR_BIRDEYE_API_KEY_HERE"
            },
            {
              "name": "x-chain",
              "value": "solana"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        944,
        -256
      ],
      "id": "birdeye-api-node",
      "name": "Birdeye API"
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID_HERE",
        "text": "=🚀 *ALERTA TRENDING - BIRDEYE* 🚀\n\n🔥 *Token:* {{$json.data.tokens[0].name}} ({{$json.data.tokens[0].symbol}})\n💎 *Rank:* #{{$json.data.tokens[0].rank}}\n💰 *Liquidez:* ${{$json.data.tokens[0].liquidity.toLocaleString()}}\n📊 *Volumen 24h:* ${{$json.data.tokens[0].volume24hUSD.toLocaleString()}}\n\n🔗 *Ver en Birdeye:* https://birdeye.so/token/{{$json.data.tokens[0].address}}?chain=solana\n\n🤖 _Bot by Maretox Labs_ ",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1168,
        -256
      ],
      "id": "telegram-alert-node",
      "name": "Telegram Alert",
      "credentials": {
        "telegramApi": {
          "id": "EXTERNAL_CREDENTIAL_ID",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        720,
        -256
      ],
      "id": "schedule-trigger-node",
      "name": "Every 1 Minute"
    }
  ],
  "connections": {
    "Birdeye API": {
      "main": [
        [
          {
            "node": "Telegram Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every 1 Minute": {
      "main": [
        [
          {
            "node": "Birdeye API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
